<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
    {% if all_books == [] %}
        <p>Library is empty</p>
    {% endif %}
        <ul>
            {% for dict in all_books %}
                <li>
                    {{ dict["title"] }} - 
                    {{ dict["author"] }} - 
                    {{ dict["rating"] }}
                </li>
            {% endfor %}
        </ul>
<a href="{{url_for('add')}}">Add New Book</a>
</body>
</html>